<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xy.game.puzzle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- add permissions -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- write sdcard for storing apk -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="xy.game.puzzle.PuzzleApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- umeng sdk statistic -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53a2b22956240b5c7f00dbdf" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />

        <activity
            android:name="xy.game.puzzle.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Subpage: Preview -->
        <activity
            android:name="xy.game.puzzle.activity.PreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_preview"
            android:multiprocess="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenPage" />

        <!-- Subpage: About -->
        <activity
            android:name="xy.game.puzzle.activity.SettingsActivity"
            android:icon="@drawable/selector_back"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme" />

        <!-- Subpage: User Agreement -->
        <activity
            android:name="xy.game.puzzle.activity.UserAgreementActivity"
            android:icon="@drawable/selector_back"
            android:label="@string/appdescription"
            android:theme="@style/AppTheme" />

        <!-- 用户反馈-开始 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@style/NoTitleAppTheme" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@style/NoTitleAppTheme" />
        <!-- 用户反馈-结束 -->


        <!-- 版本更新服务和页面-开始 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 版本更新服务和页面-结束 -->
    </application>

</manifest>