<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xy.game.puzzle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="xy.game.puzzle.PuzzleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="xy.game.puzzle.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenPage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Subpage: About -->
        <activity android:name="xy.game.puzzle.activity.AboutActivity"
            android:theme="@style/AppTheme"
            android:icon="@drawable/selector_back"
            android:label="@string/about" />
        <!-- Subpage: Preview -->
        <activity android:name="xy.game.puzzle.activity.PreviewActivity"
            android:theme="@style/FullscreenPage"
            android:label="@string/preview"
            android:multiprocess="true" />
        <!-- Subpage: User Agreement -->
        <activity android:name="xy.game.puzzle.activity.UserAgreementActivity"
            android:theme="@style/FullscreenPage"
            android:label="@string/appdescription" />
    </application>

</manifest>
